<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User Story | Super Sprinter 3000</title>
    <script></script>
    <link rel="stylesheet", href="stylesheets/main.css">
</head>
<body>
    <div class="container">
        <form method="POST">
            <fieldset>
                <legend><h1>Update User Story</h1></legend>
                
                <label for="title">Story Title:</label><br>
                <input type="text" name="title" required minlength="5" value="<%= data[0] %>"><br>

                <label for="story" name="story">User Story:</label><br>
                <textarea name="story" id="" cols="30" rows="10" required><%= data[1] %></textarea><br>
                
                <label for="criteria" name="criteria">Acceptance Criteria:</label><br>
                <textarea name="criteria" id="" cols="30" rows="10" required><%= data[2] %></textarea><br>

                <label for="value">Business value:</label><br>
                <input type="number" name="value" min="100" max="1500" step="100" value="<%= data[3] %>"><br>

                <label for="estimation">Estimation:</label><br>
                <input type="number" name="estimation" min="0.5" max="40" step="0.5" value="<%= data[4] %>"><br>

                <label for="status">Status:</label><br>
                <select name="status">
                    <option value="planning" selected>planning</option>
                    <option value="todo">todo</option>
                    <option value="in progress">in progress</option>
                    <option value="review">review</option>
                    <option value="done">done</option>
                </select><br>

                <button type="submit" id="update-new-user-story">Update new User Story</button>
            </fieldset>
        </form>
    </div>
</body>
</html>